<h1>Welcome to Grandma's House: The Text Adventure!</h1>

<h3>Can you clear up the mystery around Grandma's whereabouts before your sanity reserves are depleted?</h3>
<p>To begin, what's your name?</p>

<form action='/'  method='POST'>
	<input type='text' name='name'>
</form>